*{
	padding:0;
	margin:0;
	list-style: none;
}
a{
	text-decoration: none;
	color:inherit; 
}
html{
	font-size: 100px;
	height:100%;
	width:100%;
}
body{
	font-size: 16px;
}
$wobac:#DEDEDE;
$bac:#ECEAED;
$ulbac:#FEFEFE;
$headbac:#393A3E;
$footbac:#FDFBFE;
$footcolor:#A2A0A3;
$fff:#fff;

@mixin username($size){
	$shebei-list:320px,360px,375px,384px,412px,414px,435px;
	html{
		@each $shebei in $shebei-list{
			@media screen and(min-width: $shebei){
				font-size: 100px * ($shebei/$size);
			}
		}
	}
}
@include username(414px);


nav{
	height:0.45rem;
}
.headl{
	z-index: 10000000000;
	position: fixed;
	top:0;
	left: 0;
	height:0.45rem;
	width:100%;
	background:$headbac;
	font-size: 0.22rem;
	line-height: 0.45rem;
	color:#fff;
	.left{
		float:left;
		height:100%;
		width:auto;
		padding:0 0.2rem;
		font-size: 0.25rem;

	}
	.right{
		height:100%;
		width:auto;
		li{
			height:100%;
			padding:0 0.20rem;
			font-size: 0.25rem;
		}

	}
}
.acti{
	color:#49BE18;
}
.footer{
	width:100%;
	height:0.48rem;
	position: fixed;
	padding:2px;
	box-sizing: border-box;
	bottom:0;
	left: 0;
	background:$footbac;
	border-top:1px solid $bac;
	li{
		float:left;
		height:100%;
		width:25%;
		
		text-align: center;
		color:$footcolor;
		i{
			display:inline-block;
			font-size: 0.18rem;
			height:50%;
			width:100%;
			/*color:red;*/
			line-height: 0.25rem;
		}
		
	}
}
.wo{
	height:6.49rem;
	/*overflow: auto*/
	width:100%;
	background:$wobac;
	position: absolute;
	top:0.45rem;
	left:0;
	ul{
		height:auto;
		width:100%;
		margin-top:0.3rem;
		.wodiv{
			width:100%;
			height:0.88rem;
			background:$ulbac;
			.wo-left{
				float:left;
				display:inline-block;
				height:0.6rem;
				width:0.6rem;
				margin:0.14rem;
				span{
					font-size: 0.48rem;
					height:100%;
					width:100%;
					line-height: 0.6rem;
					text-align: center;
					display: inline-block;
					
				}
			}
			.wo-center{
				float:left;
				display:inline-block;
				height:100%;
				width:1.9rem;
				span{
					font-size: 0.18rem;
					margin-left: 0.1rem;
					display:inline-block;
					width:100%;
					height:50%;
					line-height: 0.44rem;
				}

			}
			.wo-right{
				height:100%;
				width:1.33rem;
				float:left;
			}
		}
		ul:nth-last-child(1){
			background:red;
		}
		li{
			height:0.55rem;
			width:100%;
			background:$ulbac;
			
			line-height: 0.55rem;
			position: relative;
			a{
				position: absolute;
			display:inline-block;
			height:100%;
			width:100%;
					}
			span{
				padding:0 0.15rem;
				font-size: 0.25rem;
				display: inline-block;
				float:left;
			}
		}
		li:nth-child(2){
			border-top:1px solid $bac;
			margin-top:1px;
		}

	}
}


.weixin{
	width:100%;
	height:6.49rem;
	overflow: auto;
	position: absolute;
	top:0.45rem;
	left:0;
	ul{
		height:100%;
		width:100%;
		.weixin-v{
			height:0.24rem;
			width:100%;
			background:$bac;
		}
		li.showD{
			.sss{
				transform: translateX(-1.3rem);
			}

		}

		li{
			position: relative;
			top:0;
			left:0;
			height:0.78rem;
			border-bottom:1px solid $footcolor;
			.asa{
				height:0.78rem;
				width:60%;
				float:left;
				position: absolute;
               z-index: 2;

			}
			.bbu{
				display:inline-block;
				text-align: center;
				line-height: 0.78rem;
				background:red;
				position: absolute;
				right:0;
				top:0;
				width:0.8rem;
				height:100%;

			} 
			.sss{
				transition: transform .8s ease;
				 background:#fff;
				z-index: 1;
				position: absolute;
				top:0;
				left:0;
				height:100%;
				width:100%;
				.span-img{
					display:inline-block;
					height:0.44rem;
					/*background:red;*/
					width:0.44rem;
					margin:0.17rem;
					float:left;
					img{
						height:100%;
						width:100%;
					}
				}
			}
			.colo{
				float:left;
				height:100%;
				width:3.25rem;
				span{
					display: inline-block;
					height: 50%;
					font-weight: bold;
					width:100%;
					line-height: 0.32rem;
					font-size: 0.16rem;
				}
				i{
					display: inline-block;
					height:50%;
					width:100%;
					line-height: 0.15rem;
					font-size: 0.14rem;
				}
			}
		}
	}
}

.fix{
	z-index: 10;
	position: fixed;
	top:0.45rem;
	right:0;
	height:auto;
	width:0.3rem;
	ul{
		height:auto;
		width:0.3rem;

		li{
			height:0.35rem;
			float:left;
			line-height: 0.35rem;
			font-size: 0.2rem;
			font-weight: bold;
			text-align: center;
			width:0.3rem;
			border:1px solid $footcolor;
		}	
	}
}

#tongxunlu{
	width:100%;
	height:6.5rem;
	overflow: auto;
	background:$bac;
	ul{
		position: absolute;
		top:0.45rem;
		left:0;
		height:auto;
		width:100%;
		padding:0 0.2rem;
		box-sizing: border-box;
		li{ 
			width:100%;
			background:$fff;
			position: relative;
			top:0;
			left:0;
			.dem{
				height:0.2rem;
				width:100%;
				background:$bac;
			}
			.lisdiv{
				height:0.68rem;
				width:100%;
				position: relative;
				top:-0.2rem;
				left:0;
				.divso{
					height:0.68rem;
					width:0.68rem;
					position: absolute;
					left:0;
					top:0.2rem;
					img{
						height:100%;
						width:100%;
					}
				}
				.laoshu{
					height:100%;
					width:100%;
					padding-left:1rem;
					box-sizing: border-box;
					position: absolute;
					left:0;
					top:0.2rem;
					font-size: 0.2rem;
					line-height: 0.68rem;
				}
			}


		}

	}
	
}

.liaotian{
	width: 100%;
	overflow: auto;
	background: #EBEBEB;
	z-index: 100;
	.collection{
		width: 100%;
		height:84%;
		.collection-item{
			font-size: 16px;
			margin-top: 0.1rem;
			float: left;
			width: 60%;
			height:auto;
			img{
				float: left;
				margin-left: 0.05rem;
				width: 0.6rem;
				height:0.6rem;
				border-radius: 50%;
			}
			p{
				box-sizing: border-box;
				padding-left: 0.75rem;
				padding-top: 0.05rem;
			}
		}
		.me{
			float: right;
			margin-right: 0.05rem;
			img{
				float: right;
				border-radius: 50%;
			}
			p{
				padding-left: 0.1rem;
			}
		}
	}
}

//朋友圈

#friends{
	height: 100%;
	width:100%;
	position: fixed;
	.friendtop{
		height:3rem;
		width:100%;
		background:#000;
		display:inline-block;

	}
	.friendbottom{
		display:inline-block;
		float:left;
		height: 4rem;
		width:100%;
		.sa{
			width:100%;
			height:auto;
			margin-top:0.3rem;
			ul{
				height:auto;
				width:100%;
				padding:0 0.4rem;

				li{
					width:100%;
					height:0.3rem;
					font-size: 0.16rem;
					margin-left: 0.1rem;
					padding-left: 0.2rem;
				}
				li:nth-child(3){

					background:#EFEDF0;
				}
			}

		}
		div{
			float:left;
		}
		.friendimg{
			height:0.80rem;
			width:2.25rem;
			margin:0 auto;
			background: red;
			margin-top:1.2rem;
			li{
				height:100%;
				width:33%;
				background: blue;
				float:left;
				img{
					height:100%;
					width:100%;
				}
			}
		}
		.z{
			height:auto;
			width:100%;
			position: relative;
			.za:nth-child(2){
				line-height:0.4rem;
				padding-top:0.2rem;
				height:0.4rem;
				font-size: 0.2rem;
				width:100%;
				position: absolute;
				top:0;
				padding-left:1rem;
				font-weight: bold;
				color:#9A9C9F;

			}
			.za:nth-child(3){
				line-height:0.4rem;
				font-size: 0.16rem;
				padding-left:1rem;
				height:0.4rem;
				padding-bottom: 0.2rem;
				width:100%;
				position: absolute;
				top:0.6rem;
				color:#535154;

			}
			.zl{
				height:0.4rem;
				width:0.4rem;
				margin:0.4rem;
				background: red;
			}
		}
	}
	.frendsbox{
		height:0.77rem;
		width:1.54rem;
		position: absolute;
		right:0.1rem;
		top:2.5rem;
		.frendsb{
			height:100%;
			width:50%;
			float:right;
			font-size: 0.14rem;
			color:#999;
			line-height: 0.77rem;
			text-align: center;
			border:1px solid $bac;
			background: #fff;
		}
		.frendsb.iconfont{
			color:#CAC8CB;
			font-size: 0.4rem;
		}
	}
}
/*///*/
.nav-list{
	height:auto;
	width:0.4rem;
	position: fixed;
	right:0.12rem;
    top:0.45rem;
    z-index: 1;
    span{
    	text-align: center;
    	line-height: 0.3rem;
    	height:0.3rem;
    	width:100%;
    	float:left;
    }
}


  /*动画切换*/
#view.ng-leave{  
	
	 opacity: 1;
  transition:all 2s ease;
}
#view.ng-leave-active{
  opacity: 0;
transform: translateX(-100%);
}
#view.ng-enter{
  opacity: 0; 
  transition:all 2s ease;
  transform: translateX(-100%);
}
#view.ng-enter-active{
  
  opacity: 1;
 transform: none;
}
/*//*/