<div class="footer">
<ul>
	<li>
	<i class="icon iconfont">&#xe618;</i>
	<i class="icon iconfont"   ng-class="{acti:title=='微信'}" ng-click="title='微信'"><a href="#/weixin">微信</a></i>
	</li>
	<li>
	<i class="icon iconfont">&#xe621;</i>
	<i  ng-class="{acti:title=='通讯录'}" ng-click="title='通讯录'" class="icon iconfont"><a href="#/tongxunlu">通讯录</a></i>

	</li >
	<li>
	<i class="icon iconfont">&#xe608;</i>
	<i class="icon iconfont" ng-class="{acti:title=='发现'}" ng-click="title='发现'"><a href="#/faxian">发现</a></i>
	</li>
	<li>
	<i class="icon iconfont">&#xe608;</i>
	<i  ng-class="{acti:title=='我'}" ng-click="title='我'" class="icon iconfont"><a href="#/wo">我</a></i>
	</li>
</ul>


</div>